body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

label {
  align-self: flex-start;
}

form button {
  max-width: 100px;
}



